h1{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(16, 3, 3);
    margin: 2rem 0 1rem 0;
    font-weight: normal;
}
h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: rgb(15, 10, 10);
}
.fallback{
text-align: center;
color: black;
}